<div class="section">
  <div class="row">
    <div class="col s12 m8 offset-m2 center-align">
      <h2>Properly Size an AWS Compute Cluster</h2>
      <p class="flow-text">
        Provide your compute requirements, and we'll generate a list of AWS
        instance types (and how many you'd have to purchase) that meet your
        needs, sorted by price.
      </p>
      <a href="#requirementsModal"
         class="btn-large waves-effect waves-light red lighten-1"
          modal>
        <i class="material-icons left">cloud</i>
        Get Started
      </a>
    </div>
  </div>
</div>

<div id="requirementsModal" class="modal">
  <div class="modal-content center-align">
    <ng-include src="'static/templates/requirements-form.tpl.html'"></ng-include>
  </div>
</div>
