<div class="section">
  <div class="row">
    <div class="col s12 m8 offset-m2 center-align">
      <h2>Properly Size an AWS Compute Cluster</h2>
      <p class="flow-text">
        Provide your compute requirements, and we'll generate a list of AWS
        instance types (and how many you'd have to purchase) that meet your
        needs, sorted by price.
      </p>
      <a ui-sref="requirements"
         class="btn-large waves-effect waves-light red lighten-1"
         modal>
        <i class="material-icons left">cloud</i>
        Get Started
      </a>
    </div>
  </div>
</div>
