<div ng-controller="RequirementsController as require">
  <h4>Enter Cluster Requirements</h4>

  <!-- Enter Cluster Details -->
  <form ng-submit="require.submitRequirements()">
    <div class="row">
      <div class="input-field">
        <input id="requiredCpu"
               type="number"
               min="1"
               ng-model="require.formData.requiredCpu"
               required />
        <label for="requiredCpu">Required CPU Cores</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input id="requiredMemory"
               type="number"
               min="1"
               ng-model="require.formData.requiredMemory"
               required />
        <label for="requiredMemory">Required Memory in GB</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input id="requiredStorage"
               type="number"
               min="0"
               ng-model="require.formData.requiredStorage"
               required />
        <label for="requiredStorage">Required Storage in GB</label>
      </div>
    </div>
    <button class="modal-action waves-effect waves-blue btn-flat"
            type="submit">
      Submit
    </button>
  </form>

</div>
